@model PDSC.Common.ViewModelLayer.ContactUsViewModel

@{
  ViewData["Title"] = "Contact Us";
}

<div class="jumbotron jumbotron-small jumbotron-fluid">
  <div class="row">
    <div class="col-sm-9">
      <h1>Contact Us</h1>
      <p class="lead">If you have questions about the @Model.AppSettings.ApplicationName, or are having issues with the website, please let us know and we will take care of it right away.</p>
    </div>
    <div class="col-sm-3 d-none d-sm-block">
      <img class="img-fluid rounded float-right" src="~/Images/SiteLogo.png" asp-append-version="true" />
    </div>
  </div>
</div>

<form method="post">  
  <input asp-for="SelectedEntity.IPAddress" type="hidden" />
  <input asp-for="SelectedEntity.InsertName" type="hidden" />
  <input asp-for="SelectedEntity.UpdateName" type="hidden" />
  <input asp-for="Mode" type="hidden" />

  <div class="row">
    <div class="col-sm-3">      
      <div class="row">
        <div class="col">
          <address>
            @Model.AppSettings.ApplicationName<br />
            123 Main Street<br />
            Nashville, TN 37211<br />
            (111) 111-1111
          </address>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <span>Information: <a href="mailto:@Model.AppSettings.EmailAliases.Information">@Model.AppSettings.EmailAliases.Information</a></span><br />
          <span>Sales: <a href="mailto:@Model.AppSettings.EmailAliases.Sales">@Model.AppSettings.EmailAliases.Sales</a></span><br />
          <span>Support: <a href="mailto:@Model.AppSettings.EmailAliases.Support">@Model.AppSettings.EmailAliases.Support</a></span>
        </div>
      </div>
    </div>
    <div class="col-sm-5">
      <partial name="_ContactUsDetail" />
    </div>
  </div>
</form>

@section Scripts
{
  <partial name="_ValidationScriptsPartial" />
}
