@model PDSC.Common.ViewModelLayer.PrivacyPolicyViewModel

@{
  ViewBag.Title = "Privacy Notice";
  ViewBag.MetaDescription = Model.AppSettings.ApplicationName + " Privacy Notice";
  ViewBag.MetaKeywords = Model.AppSettings.ApplicationName + " Privacy Notice";
}

<div class="jumbotron jumbotron-small jumbotron-fluid">
  <div class="row">
    <div class="col-sm-9">
      <h1>@Model.AppSettings.ApplicationName Privacy Notice</h1>
      <p class="lead">We know that you care how information about you is used and shared, and we appreciate your trust that we will do so carefully and sensibly. This Privacy Notice describes how the @Model.AppSettings.ApplicationName collects and processes your personal information through this site that references this Privacy Notice (together "@Model.AppSettings.ApplicationName"). By using the @Model.AppSettings.ApplicationName, you are consenting to the practices described in this Privacy Notice.</p>
      <p><strong>Policy Last Updated on</strong> @Model.SelectedEntity.InsertDate.ToShortDateString()</p>
    </div>
    <div class="col-sm-3 d-none d-sm-block">
      <img class="img-fluid rounded float-right" src="~/Images/SiteLogo.png" asp-append-version="true" />
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="jumbotron jumbotron-small jumbotron-fluid">
      @Html.Raw(Model.SelectedEntity.PrivacyText)
    </div>
  </div>
</div>
