@using PDSC.Common.EntityLayer
@model PDSC.Common.ViewModelLayer.LogInfoViewModel

@if (Model.DataCollection == null || Model.DataCollection.Count == 0) {
  <p>Enter search parameters, then click Search button</p>
}
else {
  <form method="get" asp-action="SortPage">
    <partial name="_SortPageHiddenFields" />

    <table class="table table-bordered table-hover table-striped">
      <thead>
        <tr>
          <th>Actions</th>
          <th>
            <a href="#" onclick="pdscController.sortOnHeaderClick('Message');">
              Message
            </a>
          </th>
          <th>
            <a href="#" onclick="pdscController.sortOnHeaderClick('Level');">
              Level
            </a>
          </th>
          <th>
            <a href="#" onclick="pdscController.sortOnHeaderClick('TimeStamp');">
              Time Stamp
            </a>
          </th>
          <th>
            <a href="#" onclick="pdscController.sortOnHeaderClick('Exception');">
              Exception
            </a>
          </th>
          <th>
            <a href="#" onclick="pdscController.sortOnHeaderClick('Properties');">
              Properties
            </a>
          </th>
        </tr>
      </thead>
      <tbody>
        @foreach (LogInfo item in Model.DataCollection) {
        <tr>
          <td>
            <a asp-action="Edit"
               asp-route-id="@item.Id"
               class="btn btn-primary">
              Display
            </a>
          </td>
          <td>@Html.DisplayFor(m => item.Message)</td>
          <td>@Html.DisplayFor(m => item.Level)</td>
          <td>@Html.DisplayFor(m => item.TimeStamp)</td>
          <td>@item.ShortenString(Html.DisplayFor(m => item.Exception).ToString(), 50)</td>
          <td>@item.ShortenString(Html.DisplayFor(m => item.Properties).ToString(), 50)</td>
        </tr>
        }
      </tbody>
    </table>
    <partial name="_PagerPartial" />
  </form>
}
